appointment-service-v1.0/Corp/AppXsd/RTL_SOD_CORP_Appointment-v1.0/RTL_SOD_CORP_Appointment_Req.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AppointmentReq">
	
		<xs:annotation>
			<xs:appinfo>Appointment Request</xs:appinfo>
			<xs:documentation xml:lang="en">
				  Version 1.0 2018-10
			  </xs:documentation>
		</xs:annotation>
                
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ClientService">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Country" type="Country_TYPE"/>
                                <xs:element name="Commerce" type="Commerce_TYPE"/>
                                <xs:element name="Channel" type="Channel_TYPE"/>
                                <xs:element name="StoreId" type="xs:string" minOccurs="0"/>
                                <xs:element name="TerminalId" type="xs:string" minOccurs="0"/>
                                <xs:element name="Date" type="xs:date" minOccurs="0"/>
                                <xs:element name="Hour" type="xs:time" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                </xs:element>		
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Source" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Action_Type" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Sequence_Number" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Batch_ID" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Reference_ID" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="User_ID" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Password" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Message_Type" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Company_ID" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Msg_Locale" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Msg_Time_Zone" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Version" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Send_Message" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Carrier_Company" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Sequence" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Message">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Appointment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Appointment_ID" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="75"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment_Type" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Live Unload"/>
													<xs:enumeration value="Drop Unload"/>
													<xs:enumeration value="Drop Empty"/>
													<xs:enumeration value="Live Load"/>
													<xs:enumeration value="Pickup Empty"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Facility_Alias_ID" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment_Status" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Unscheduled"/>
													<xs:enumeration value="Requested"/>
													<xs:enumeration value="Scheduled"/>
													<xs:enumeration value="Canceled"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Seal_Number" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Carrier_Code" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Scheduled_Dttm" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Actual_CheckIn_Dttm" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Check_Out_Dttm" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Load_Unload_Start_Dttm" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Load_Unload_End_Dttm" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment_priority" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:union>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:enumeration value="5"/>
															<xs:enumeration value="4"/>
															<xs:enumeration value="3"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="1"/>
														</xs:restriction>
													</xs:simpleType>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value=""/>
														</xs:restriction>
													</xs:simpleType>
												</xs:union>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Driver_Duration_In_Min" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Control_number" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Requestor_name" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Requestor_type" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Reserved_appt_id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Tp_Company_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appt_Reason_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appt_Reason_Code" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Trailer_Duration_In_Min" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:union>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="9"/>
														</xs:restriction>
													</xs:simpleType>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value=""/>
														</xs:restriction>
													</xs:simpleType>
												</xs:union>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Driver_ID" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Cancel_Reason_code" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Communication_Mode" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment_Comments" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Business_partner" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Cancel_Indicator" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Load_position" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Nose"/>
													<xs:enumeration value="Tail"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Business_Unit" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Requested_Time" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="template_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Cancelled_Tc_Appt_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Appointment_Source" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Load_Configuration" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Equipment_ID" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Equipment_Code" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Tractor_ID" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Tractor_Type" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Equipment" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Dock_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Door_Id" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ApptObject" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Object_Type" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:union>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:enumeration value="10"/>
																		<xs:enumeration value="30"/>
																		<xs:enumeration value="40"/>
																	</xs:restriction>
																</xs:simpleType>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:union>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Object_ID" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Stop_Seq" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:union>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="4"/>
																	</xs:restriction>
																</xs:simpleType>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:union>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Purchase_Order" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Booked_Size" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:union memberTypes="xs:integer">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value=""/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:union>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Size_UOM" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TC_Order_Id" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Appointment_Slots" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Slot_Id" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Slot_Start_Dttm" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Slot_Duration" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:union memberTypes="xs:integer">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:union>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Capacity_Used" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:union memberTypes="xs:integer">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:union>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Custom_Attribute" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Attribute_Name" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Attribute_Value" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="StringDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9]"/>
			<!-- (M)M/(d)d/(yy)yy (h)h:mm -->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm -->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm -->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9]"/>
			<!-- (M)M/(d)d/(yy)yy -->
			<!-- (d)d/(M)M/(yy)yy -->
			<!-- (d)d.(M)M.(yy)yy -->
			<!-- (yy)yy-(M)M-(d)d -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2]?[0-9]:[0-5][0-9]"/>
			<!-- (h)h:mm -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value=""/>
			<!-- (M)M/(d)d/(yy)yy (h)h:mm -->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm -->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm -->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9]"/>
			<xs:pattern value=""/>
			<!-- (M)M/(d)d/(yy)yy -->
			<!-- (d)d/(M)M/(yy)yy -->
			<!-- (d)d.(M)M.(yy)yy -->
			<!-- (yy)yy-(M)M-(d)d -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value=""/>
			<!-- (h)h:mm -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
<xs:simpleType name="Country_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AR"/>
            <xs:enumeration value="BR"/>
            <xs:enumeration value="CL"/>
            <xs:enumeration value="CO"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="UY"/>
            <xs:enumeration value="MX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Commerce_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Banco"/>
            <xs:enumeration value="CMR"/>
            <xs:enumeration value="Falabella"/>
            <xs:enumeration value="Seguros"/>
            <xs:enumeration value="Sodimac"/>
            <xs:enumeration value="Tottus"/>
            <xs:enumeration value="Movil"/>
            <xs:enumeration value="Viajes"/>
            <xs:enumeration value="Falabella Movil"/>
            <xs:enumeration value="CrateAndBarrel"/>
            <xs:enumeration value="Telco CMR"/>
            <xs:enumeration value="Connect"/>
            <xs:enumeration value="Web Movil Falabella"/>
            <xs:enumeration value="BackOffice"/>
            <!-- Falabella Movil Deprecado -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Channel_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASL+"/>
            <xs:enumeration value="B2B"/>
            <xs:enumeration value="B2C"/>
            <xs:enumeration value="Cardif"/>
            <xs:enumeration value="Comercio Adherido"/>
            <xs:enumeration value="CRM"/>
            <xs:enumeration value="Fono Compras"/>
            <xs:enumeration value="Homy"/>
            <xs:enumeration value="IVR"/>
            <xs:enumeration value="Kiosco"/>
            <xs:enumeration value="Mobile"/>
            <xs:enumeration value="Mobile-APP"/>
            <xs:enumeration value="Mobile-WEB"/>
            <xs:enumeration value="Portal"/>
            <xs:enumeration value="Presencial"/>
            <xs:enumeration value="POS"/>
            <xs:enumeration value="Punto de Venta"/>
            <xs:enumeration value="SIX"/>
            <xs:enumeration value="UXPOS"/>
            <xs:enumeration value="Venta-Empresa"/>
            <xs:enumeration value="Web"/>
            <xs:enumeration value="Web CMR"/>
            <xs:enumeration value="Web-PAC"/>
            <xs:enumeration value="USSD"/>
            <xs:enumeration value="Punto de Venta"/>
            <xs:enumeration value="DIM"/>
            <xs:enumeration value="PMM"/>
            <xs:enumeration value="WMOS"/>
            <xs:enumeration value="SRX"/>
            <xs:enumeration value="ATG"/>
            <xs:enumeration value="OMS"/>
            <xs:enumeration value="TRL"/>
            <xs:enumeration value="SAB"/>
            <xs:enumeration value="WEB_PORTAL"/>
            <xs:enumeration value="BATCH"/>
            <xs:enumeration value="App-GSVendedor"/>
            <xs:enumeration value="QuickPay"/>
            <xs:enumeration value="DAD"/>
            <xs:enumeration value="SLI"/>
            <xs:enumeration value="ATM"/>
            <xs:enumeration value="PCOM"/>
            <xs:enumeration value="CAJA"/>
            <xs:enumeration value="SFWEB"/>
            <xs:enumeration value="Rector"/>
            <xs:enumeration value="CYBER"/>
            <xs:enumeration value="PIM"/>
            <xs:enumeration value="MAEMED"/>
            <xs:enumeration value="ODBMS"/>
            <xs:enumeration value="SPR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
